# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\QUANG\CodeGym\ProjectCodeGym\A0421I1-TRANCONGQUANG\Module4\S2_Spring_Controller\Thuc_tap\Ung_dung_xem_gio_hien_tai_cua_cac_thanh_pho_su_dung_Gradle\spring-timezone-gradle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
