# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\QUANG\CodeGym\ProjectCodeGym\A0421I1-TRANCONGQUANG\Module3\src\exam_module3\exam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
