# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\QUANG\CodeGym\ProjectCodeGym\A0421I1-TRANCONGQUANG\Module4\S2_Spring_Controller\Bai_tap\Ung_dung_hien_thi_gia_vi_voi_Sandwich\sandwich-grandel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
